
html {
  box-sizing: border-box;
  font-family: Roboto, SF UI Text
}

body {
  background-color: rgba(85, 166, 156, 1);
  margin: 40px, 48px;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: 104px;
  width: 104px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.wrapper {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 48px;
}

/* Navigation */

.main-nav {
  margin-left: 48px;
  margin-right: 48px;
}

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
}

.main-nav a {
  background: RGB(81,159,149);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-style: SF UI Text;
  color: RGB(69,137,128);
  align-items: center;

}

.search {
  height: 96px;
  width: 456px;
}

.left {
  height: 64px;
  width: 64px;

}

.right {
  height: 64px;
  width: 64px;
}

/* Pokemon Container */

.Pokemon-container {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 1000px;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 48px;
  margin-right: 48px;
}




.PokemonCard {
  background: white;
  border-radius: 5px;
  height: 275px;
  width: 243px;
}

.PokemonCard h1 {
  font-size: 16px;
  margin-left: 24px;
}

.PokemonCard ul {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 31px;
}

.divider {
  width: auto;
  height: 1px;
  margin-top: 14px;
  margin-bottom: 22px;
  background-color: lightgrey;
}

/* Pokemon Types */

.typeGrass {
  color: rgba(82, 196, 26, 1);
  background: lightgreen;
  border-radius: 10px;
  border-style: solid;
  border-color: green;
  list-style: none;
  height: 22px;
  width: auto;
  text-align: center;
  margin-right: 24px;
}




.typePoison {
  color: rgba(114, 46, 209, 1);
  background: pink;
  border-radius: 10px;
  border-style: solid;
  border-color: purple;
  list-style: none;
  height: 22px;
  width: auto;
  text-align: center;
  margin-right: 24px;
}


.typeFire {
  color: rgba(114, 46, 209, 1);
  background: yellow;
  border-radius: 10px;
  border-style: solid;
  border-color: darkred;
  list-style: none;
  height: 22px;
  width: auto;
  text-align: center;
  margin-right: 24px;
}


.typeBlank {
  list-style: none;
}
